*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

html{
  font-size: 62.65%;
}

/*************/
/****LOGIN POPUP****/
/*************/

.login-popup{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5rem;
  padding:5rem 10rem;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.06);
}

.login-img img{
  width: 100%;
}

.login-signup-btn{
 display: flex;
 position: relative;
}

.login-signup-btn label{
  width: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  padding: 1.6rem 0;
  background-color: #ddd;
}

.login-signup-btn .btn1,
.login-signup-btn .btn2{
  display: none;
}

.cross-btn{
  position: absolute;
  right: -2rem;
  top: -4rem;
  font-size: 1.8rem;
}

.cross-icon{
  color: #333;
  transition: all 0.4s;
}

.cross-icon:hover{
  color: red;
}

 .username,
 .password,
 .email,
 .fname,
 .lname{
  display: flex;
  align-items: center;
  padding: 1rem 0;
  overflow: hidden;
}


.form1 i,
.form2 i{
  padding: 1.75rem 0.8rem;
  background-color: #ddd;
  border-radius: 4px 0 0 4px;
  border: 1px solid #ccc ;
  font-size: 1.4rem;
}

.username input,
.password input,
.email input,
.fname input,
.lname input{
  padding:1.4rem;
  width: 100%;
  border: 1px solid #ccc;
  border-left: none;
  border-radius:0 4px 4px 0;
  color: #777;
  font-size: 1.4rem;
}

 input:focus{
  outline: none;
  background-color: #ddd;
}

.form1 .form-instruction{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox{
  display: flex;
  font-size: 1.4rem;
  gap: 1rem;
  color: #000;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.forget-pass a{
  text-decoration: none;
  font-size: 1.4rem;
  color: #333;
}

.form-btn{
  width: 100%;
  background-color: #000;
  padding: 1rem;
  text-align: center;
}

.signin-btn{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #fff;
}

.login-signup-btn:has(.btn1:checked) .login,
.login-signup-btn:has(.btn2:checked) .signup {
  background-color: #000;
  color: #fff;
}
.forms > form {
  display: none;
}
.login-popup:has(.btn1:checked) .form1,
.login-popup:has(.btn2:checked) .form2 {
  display: block;
}